<launch>
  
  <arg name="config_path" default="$(find lane_detection)/config/config_lane_640x360.yml"/>

  <arg name="play_bagfile" default="false" />
  
  <!--play bagfile-->
  <arg name="file_path" default="$(find lane_detection)/bagfiles/left_round_jpeg.bag" />

  <group if="$(arg play_bagfile)">
    <node name="play_bagfile" pkg="rosbag" type="play" 
        args="-l $(arg file_path) --wait-for-subscribers" >
    </node>
  </group>

  <!-- load config -->
  <rosparam file="$(arg config_path)" command="load" />

  <!--lane detection-->
  <node pkg="lane_detection" type="lane_detection.py" name="lane_detection" required = "true" output = "screen" />
  
  <!--pid controller-->
  <node pkg="pid_control" type="pid_controller.py" name="pid_controller" required = "true" output = "screen" />
  



</launch>



