<launch>
  <!-- Define the topics to be recorded as an argument -->
  <arg name="topics" value="
  /camera/color/image_jpeg
  " />

  <!-- Set the output directory and the prefix for the recorded rosbag files -->
  <arg name="path" default="-o $(find mxck_run)/bagfiles/record" />

  <!-- Concatenate the topics with the predefined arguments -->
  <node name="record" pkg="rosbag" type="record" args="$(arg path) $(arg topics)" output="screen"/>
</launch>
