<launch>

  <arg name="run_yolo" default="false" />
  <arg name="run_lane" default="false" /> 
  <arg name="run_pid" default="false" />

  <!--ultralytics yolo-->
  <group if="$(arg run_yolo)">
    <include file="$(find object_detection)/launch/yolo.launch" />
  </group>

  <!--lane detection-->
  <group if="$(arg run_lane)">
    <include file="$(find lane_detection)/launch/lane_detection.launch" />
  </group>

  <!--pid controller-->
  <group if="$(arg run_pid)">
    <include file="$(find pid_control)/launch/pid_control_node.launch" />
  </group>

</launch>


