<launch>

  <!--foxglove topic whitelist-->
  <arg name="whitelist" value="[
  /imu_filtered,
  /imu_calibrated,
  /pdc_visualization,
  /camera/color/image_raw,
  /camera/gray/image_raw,
  /camera/color/image_jpeg,
  /bboxs,
  /scan,
  /rs_imu,
  /uss_values,
  /veh_remote_ctrl,
  /path,
  /autonomous/ackermann_cmd,
  ]" />

    <node pkg="mpc" name="path_publisher" type="path_publisher.py" output="screen"/>

    <node pkg="mpc" name="path_subscriber" type="path_subscriber.py" output="screen"/>

  <!--foxglove-->
  <!--
  <include file="$(find foxglove_bridge)/launch/foxglove_bridge.launch">
    <arg name="port" value="8765" />
    <arg name="send_buffer_limit" value="10000000" />
    <arg name="topic_whitelist" value="$(arg whitelist)" /> 
  </include> -->



</launch>
